src/brc/brc
src/brp/brp
src/bru/bru
src/libbedrock/libbedrock.o
src/libbedrock/libbedrock.a
src/*linux*
src/*libcap*
src/*musl*
src/*fuse*
bedrock/bin/brc
bedrock/bin/busybox
bedrock/sbin/brp
bedrock/sbin/bru
bin/*
sbin/*
etc/passwd-
etc/shadow-
etc/group-
