# bedrock binary build results
src/brc/brc
src/brp/brp
src/bru/bru
src/libbedrock/libbedrock.o
src/libbedrock/libbedrock.a
src/manage_tty_lock/manage_tty_lock

# third party source
src/busybox
src/fuse
src/libattr
src/libcap
src/linux_headers
src/musl

# build results and temporary files
build

# output tarballs
bedrock_linux_1.0beta2_nyla.tar.gz
bedrock_linux_1.0beta2_nyla.tar
