# systemd appears to have difficulty stopping FUSE filesystems.
# Lets stop our own to remove the responsibility from systemd.

[Unit]
Description=Shutdown Bedrock Linux FUSE filesystems.

[Service]
RemainAfterExit=yes
ExecStart=-/bedrock/libexec/busybox true
ExecStop=-/bedrock/libexec/busybox sh /bedrock/share/systemd/stop-fuse-filesystems.sh

[Install]
WantedBy=multi-user.target
