# systemd appears to hang on shutdown if FUSE filesystems are left running.

[Unit]
Description=Shutdown Bedrock Linux brp and bru filesystems.

[Service]
RemainAfterExit=yes
ExecStart=-/bedrock/libexec/busybox true
ExecStop=-/bedrock/libexec/busybox pkill '^(/bedrock/sbin/bru|/bedrock/sbin/brp)$'

[Install]
WantedBy=multi-user.target
