# systemd seems to automatically make preexisting mounts shared at boot.  This
# seems to be hardcoded; no way to configure it off.
#
# A hacky solution is to reset them back to their original private setting
# after systemd has changed them.  That is what this does.


[Unit]
Description=Bedrock Linux tweak to undo systemd mount changes
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/bedrock/sbin/brs fix init

[Install]
WantedBy=multi-user.target
